body {
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 16px 32px;
}
nav p {
  font-size: 1.5rem;
}
nav .icons {
  display: flex;
  gap: 32px;
}
nav .icons button {
  background: none;
  border-style: none;
  cursor: pointer;
}

article, section {
  padding: 16px 32px;
}

#introduction {
  color: #7C6A0A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
}
#introduction .introduction__info {
  max-width: 800px;
}
#introduction .introduction__info h1 {
  font-size: 2.8rem;
  margin-bottom: 28px;
}
#introduction .introduction__info p {
  font-size: 1.2rem;
  padding-bottom: 48px;
}
#introduction .introduction__info a {
  background-color: #FA9500;
  padding: 16px 32px;
  border-radius: 40px;
  color: white;
  text-decoration: none;
}
#introduction .introduction__img {
  display: flex;
  justify-content: center;
}
#introduction .introduction__img img {
  border-radius: 16px;
  max-width: 280px;
}

#products h2, #info h2 {
  color: #7C6A0A;
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 32px;
}
#products .products__healthcare .products__cards-container, #info .products__healthcare .products__cards-container, #products .products__furniture .products__cards-container, #info .products__furniture .products__cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 32px;
  margin-bottom: 64px;
  justify-items: center;
}
#products .products__healthcare .products__cards-container .product__card, #info .products__healthcare .products__cards-container .product__card, #products .products__furniture .products__cards-container .product__card, #info .products__furniture .products__cards-container .product__card {
  max-width: 280px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 32px;
  border-radius: 8px;
}
#products .products__healthcare .products__cards-container .product__card .product__card-icon, #info .products__healthcare .products__cards-container .product__card .product__card-icon, #products .products__furniture .products__cards-container .product__card .product__card-icon, #info .products__furniture .products__cards-container .product__card .product__card-icon {
  display: flex;
  justify-content: flex-end;
}
#products .products__healthcare .products__cards-container .product__card .product__card-icon svg, #info .products__healthcare .products__cards-container .product__card .product__card-icon svg, #products .products__furniture .products__cards-container .product__card .product__card-icon svg, #info .products__furniture .products__cards-container .product__card .product__card-icon svg {
  cursor: pointer;
}
#products .products__healthcare .products__cards-container .product__card .product__card-img, #info .products__healthcare .products__cards-container .product__card .product__card-img, #products .products__furniture .products__cards-container .product__card .product__card-img, #info .products__furniture .products__cards-container .product__card .product__card-img {
  display: flex;
  display: flex;
  justify-content: flex-end;
}
#products .products__healthcare .products__cards-container .product__card .product__card-img img, #info .products__healthcare .products__cards-container .product__card .product__card-img img, #products .products__furniture .products__cards-container .product__card .product__card-img img, #info .products__furniture .products__cards-container .product__card .product__card-img img {
  width: 100%;
  border-radius: 8px;
}
#products .products__healthcare .products__cards-container .product__card h3, #info .products__healthcare .products__cards-container .product__card h3, #products .products__furniture .products__cards-container .product__card h3, #info .products__furniture .products__cards-container .product__card h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}
#products .products__healthcare .products__cards-container .product__card p, #info .products__healthcare .products__cards-container .product__card p, #products .products__furniture .products__cards-container .product__card p, #info .products__furniture .products__cards-container .product__card p {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
#products .products__furniture .products__cards-container .product__card, #info .products__furniture .products__cards-container .product__card {
  background-color: #BABD8D;
  color: white;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#info h2 {
  font-weight: bold;
}
#info .about-us__mission {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
#info .about-us__mission .about-us__mission--earth, #info .about-us__mission .about-us__mission--innovation {
  display: flex;
  align-items: center;
  max-width: 440px;
  gap: 16px;
  color: #FA9500;
  font-size: 1.2rem;
  text-align: center;
}
#info .about-us__mission .about-us__mission--earth img, #info .about-us__mission .about-us__mission--innovation img {
  width: 116px;
}
footer {
  background-color: #FA9500;
  width: 100%;
  height: 250px;
}

@media (max-width: 767px) {
  #introduction .introduction__img {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */