$primary-color:#FFEFE7;
$secondary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stack: 'IBM Plex Sans' , sans-serif; 
$paragraph-size: 1.2rem;
$quaternary-color: #FA9500;

body {
    background-color: $primary-color;
    font-family: $font-stack;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 16px 32px;
    align-items: center;
    p {
        font-size: 1.5rem;
    }
    .icons {
        display: flex;
        gap: 32px;
        button {
            background: none;
            border-style: none;
            cursor: pointer;
        }
    }
    // .mobile-icons {
    //     display: none;
    // }
}

article, section {
    padding: 16px 32px;
}

#introduction {
    color: $primary-text-color;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 40px;
    .introduction__info {
        max-width: 800px;
        h1 {
            font-size: 2.8rem;
            margin-bottom: 28px;
        }
        p {
            font-size: $paragraph-size;
            padding-bottom: 48px;
        }
        a {
            background-color: $quaternary-color;
            padding: 16px 32px;
            border-radius: 40px;
            color: white;
            text-decoration: none;
        }
    }
    .introduction__img {
        display: flex;
        justify-content: center;
        img {
            border-radius: 16px;
            max-width: 280px;
        }
    }
}

#products {
    h2 {
        color: $primary-text-color;
        font-size: 1.8rem;
        font-weight: lighter;
        margin-bottom: 32px;
    }
    .products__healthcare {
        .products__cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            gap: 32px;
            margin-bottom: 64px;
            justify-items: center;
            .product__card {
                max-width: 280px; 
                background-color: $secondary-color;
                color: $primary-text-color;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 16px 32px;
                border-radius: 8px;
                .product__card-icon {
                    display: flex;
                    justify-content: flex-end;
                    svg {
                        cursor: pointer;
                    }
                }
                .product__card-img {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100%;
                        border-radius: 8px;
                    }
                }
                h3 {
                    font-size: 1.3rem;
                    margin-bottom: 8px;
                }
                p {
                    font-size: $paragraph-size;
                    margin-bottom: 8px;
                }
            }        
        }
    }
    .products__furniture {
        @extend .products__healthcare;
        .products__cards-container {
            .product__card {
                //Estilos que no se aplican:
                background-color: $tertiary-color;
                color: white;
            }
        }
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
}