$primary-color:#FFEFE7;
$secondary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stack: 'IBM Plex Sans' , sans-serif; 
$paragraph-size: 1.2rem;
$quaternary-color: #FA9500;

body {
    background-color: $primary-color;
    font-family: $font-stack;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 16px 32px;
    align-items: center;
    p {
        font-size: 1.5rem;
    }
    .icons {
        display: flex;
        gap: 32px;
        button {
            background: none;
            border-style: none;
            cursor: pointer;
        }
    }
    // .mobile-icons {
    //     display: none;
    // }
}

article, section {
    padding: 0 32px;
}

.introduction {
    color: $primary-text-color;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 40px;
    .introduction__info {
        max-width: 800px;
        h1 {
            font-size: 2.3rem;
            margin-bottom: 28px;
        }
        p {
            font-size: $paragraph-size;
            padding-bottom: 48px;
        }
        a {
            background-color: $quaternary-color;
            padding: 16px 32px;
            border-radius: 40px;
            color: white;
            text-decoration: none;
        }
    }
    .introduction__img {
        display: flex;
        justify-content: center;
        img {
            border-radius: 16px;
            max-width: 280px;
        }
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
}