$primary-color:#FFEFE7;
$secondary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stack: 'IBM Plex Sans' , sans-serif; 
$paragraph-size: 1.2rem;
$quaternary-color: #FA9500;

@mixin displayFlex($direction: row, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

body {
    background-color: $primary-color;
    font-family: $font-stack;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: auto;
    height: 100px;
    @include displayFlex(null, space-between, center);
    color: $primary-text-color;
    padding: 16px 32px;
    p {
        font-size: 1.5rem;
    }
    .icons {
        display: flex;
        gap: 32px;
        button {
            background: none;
            border-style: none;
            cursor: pointer;
        }
    }
    // .mobile-icons {
    //     display: none;
    // }
}

article, section {
    padding: 16px 32px;
}

#introduction {
    color: $primary-text-color;
    @include displayFlex(null, space-between, center);
    gap: 32px;
    margin-bottom: 40px;
    .introduction__info {
        max-width: 800px;
        h1 {
            font-size: 2.8rem;
            margin-bottom: 28px;
        }
        p {
            font-size: $paragraph-size;
            padding-bottom: 48px;
        }
        a {
            background-color: $quaternary-color;
            padding: 16px 32px;
            border-radius: 40px;
            color: white;
            text-decoration: none;
        }
    }
    .introduction__img {
        @include displayFlex(null, center, null);
        img {
            border-radius: 16px;
            max-width: 280px;
        }
    }
}

#products {
    h2 {
        color: $primary-text-color;
        font-size: 1.8rem;
        font-weight: lighter;
        margin-bottom: 32px;
    }
    .products__healthcare {
        .products__cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            gap: 32px;
            margin-bottom: 64px;
            justify-items: center;
            .product__card {
                max-width: 280px; 
                background-color: $secondary-color;
                color: $primary-text-color;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 16px 32px;
                border-radius: 8px;
                .product__card-icon {
                    @include displayFlex(null, flex-end, null);
                    svg {
                        cursor: pointer;
                    }
                }
                .product__card-img {
                    display: flex;
                    @include displayFlex(null, flex-end, null);
                    img {
                        width: 100%;
                        border-radius: 8px;
                    }
                }
                h3 {
                    font-size: 1.3rem;
                    margin-bottom: 8px;
                }
                p {
                    font-size: $paragraph-size;
                    margin-bottom: 8px;
                }
            }        
        }
    }
    .products__furniture {
        @extend .products__healthcare;
        .products__cards-container {
            .product__card {
                //Estilos que no se aplican:
                background-color: $tertiary-color;
                color: white;
            }
        }
    }
}

#info {
    @extend #products;
    display: flex;
    flex-direction: column;
    gap: 32px;
    h2 {
        font-weight: bold;
    }
    .about-us__mission {
        @include displayFlex(null, space-around, center);
        flex-wrap: wrap;
        margin-bottom: 32px;
        .about-us__mission--earth {
            @include displayFlex(null, null, center);
            max-width: 440px;
            gap: 16px;
            color: $quaternary-color;
            font-size: $paragraph-size;
            text-align: center;
            img {
                width: 116px;
            }
        }
        .about-us__mission--innovation {
            @extend .about-us__mission--earth;
        }
    }
    .info__gallery {
        .gallery__container {
            @include displayFlex(null, space-between, center);
            height: 380px;
            img {
                height: 100%;
                width: 30%;
                object-fit: cover;
                border-radius: 48px;
                &:hover {
                    transform: scale(1.04);
                }
            }
        }
    }
    .info__location {
        text-align: center;
        img {
            width: 90%;
            text-align: center;
            margin-bottom: 32px;
        }
        h3 {
            color: $quaternary-color;
            margin-bottom: 8px;
        }
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
}

@media (max-width: 767px) {
    #introduction {
        .introduction__img { 
            display: none;
        }
    }
}